/* === RESET DE BASE === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* === STYLE GENERAL DU BODY === */

body {
  background-color: #333333;
  color: white;
  font-family: "Arial";
  font-weight: bold;
  line-height: 1.6;
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* === STYLE HEADER === */

header {
  padding: 0 200px;
  height: 50px;
  display: flex;
  align-items: center;
  border: 1px solid #333333;
  background-color: blue;
  font-weight: 400;
}

.barre-horizontale-header {
  position: absolute;
  top: var(--top-pos);
  left: 0;
  width: 100vw;
  height: 1px;
  background-color: #3333;
}